{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "react/prop-types": 0
  },
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "mocha": true
  }
}
