:root {
  --charcoal-grey: #3e4247;
  --black: #161616;
}

html {
  color: var(--charcoal-grey);
  font-family: "Fira Sans", "Helvetica", monospace;
}

a {
  color: var(--charcoal-grey);
  outline: none;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header__logo {
  display: inline-block;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.header__nav {
  text-align: right;
}

.header__nav .nav__link:not(:last-child) {
  margin-right: 2rem;
}

.banner {
  background-color: var(--black);
  text-align: center;
}

.banner__logo {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
